.input {
  width: 18rem;
}
label {
  font-weight: 500;
}
.invalid {
  color: red;
}
.invalidInput {
  background-color: #f8d7da;
  border: 2px solid #f5c2c7;
}
.invalidInput::placeholder {
  color: #842029;
}
.invalidInput:focus {
  border: 3px solid rgb(230, 66, 66);
}
@media screen and (max-width: 575px) {
  .input {
    width: 100%;
  }
}
